/* mediaquery.css */
/* For Desktops */
/* @media screen and (max-width: 1400px) {
    .project-img-container img {
        width: 640px;
        height: 500px;
    }
} */
/* For Tablets */

/* For mobile view */
/* @media only screen and (max-width: 768px)  */
@media only screen and (max-width: 36rem) {
    /* Navigation */
    nav {
        display: block;
        text-align: center;
    }

    .nav-links {
        display: none;
    }
    .mobile-view {
        padding: 0;
        display: block;
    }

    .dev-name {
        font-size: 1.5rem;
    }


    #social-icons {
        padding: 0;
        position: relative;
        top: -500px;
        justify-content: center;
    }
    #social-icons a {
        font-size: 1rem;
        margin: 0px 1rem;
    }

    .profile-image img{
        display: none;
    }
    .mobile-view {
        text-align: center;
    }
    
    .mobile-view img {
        display: inline-block;
        padding: 50px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .intro-details {
        text-align: center;
        position:relative;
        top: -100px;
    }

    .intro-details h1 {
        font-size: 35px;
        letter-spacing: -2.5px;
        width: 100%;
    }
    .intro-details p {
        text-align: center;
        font-size: 16px;
        width: 100%;
        line-height: 1.5rem;
       
    }

    .skills-grid-container {
        display: block;
        gap: 0.5rem;
        margin-top: 0;
        position: relative;
        top: -100px;
        text-align: center;
    }

    .grid-item {
        padding-top: 0.5rem;
        
    }

    p.skill{
        font-size: 1rem;
    }
    p.years-of-experience {
        font-size: 80%;
    }

    /* Project Section */
  
    .project-heading {

        padding: 0;
        margin-top: 0;
    }

    .project-heading h1 {
        font-size: 30px;
    }

    .project-heading p {
        font-size: 0.75rem; 
    }
    .project-grid-container {
        display: block;
    }

    .project-img-container img {
        width: 300px;
        height: 300px;
    }

    .project-grid-item {
        margin-bottom: 3rem;
    }

    .tools p {
        padding-right: 0.5rem;
        font-size: 14px;
    }

    .grid-item-details h2 {
        font-size: 1rem;
    }

    
    .project-img-container {
        position: relative;
    }

    .project-links {
        opacity: 1;
        color: var(--pure-white);
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: transparent;
        position: static;
        transform: none;
        top: auto;
        left: auto;
        text-align: left;
    }

    .project-links a {
        background-color: transparent;
        text-decoration: underline var(--green);
        display: inline-flex;
        font-size: 12px;
    }

    .project-img-container img {
        width: 350px;
        height: 350px;
        transition: none;
        opacity: 1;
    }

    /* Contact section */
    .contact-wrapper {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        text-align: center;
        gap: 1rem;
    }
    
    .dev-contact {
        width: 100%;
        max-width: 400px; 
        margin-bottom: 20px;
    }

    .dev-contact h1 {
        font-size: 30px;
    }
    
    .dev-contact p {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    /* form {
        padding-top: 10px;

    } */
    form .input-area {
        padding: 10px;
    }
    .input-area::placeholder {
        font-size: 0.5rem;
    }
    .contact-form button {
        padding-bottom: 10px;
        padding-top: 5px;
        letter-spacing: 2px;
        font-size: 0.5rem;   
    }
    


    #social-icons-footer a {
        font-size: 1rem;

    } 

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    #social-icons-footer {
        margin-bottom: 20px; 
    }
   
    
    

}

@media screen and (max-width: 1024px) {
    .wrapper{
        max-width: 80%;
    }
    nav {
        padding: 3px 0;
    }

    .nav-link a {
        font-size: 18px;
        letter-spacing: 2.29px;
    }
    .intro-details h1 {
        font-size: 40px;
        letter-spacing: -2.5px;
    }
    .intro-details p {
        font-size: 12px;
        line-height: 1.5rem;
       
    }
    .profile-image img {
        margin: auto 0;
        width: 200px;
        height: 200px;
    }
    #social-icons a, #social-icons-footer a{
        font-size: 1rem;
    }
    .skills-grid-container {
        border-top: 2px solid var(--pure-white);
        margin-top: 3rem;
       
    }
    p.skill{
        font-size: 1.5rem;
    }
    .project-grid-container {
        gap: 0.5rem 0;

    }

    .project-img-container img {
        width: 350px;
        height: 350px;
    }
}