/* styles.css */
/* variables */
:root {
    --black: #000000;
    --pure-white: #FFF;
    --green: #4EE1A0;
    --grey: #979797;
    --dark-grey: #242424;
}

/* General */
@font-face {
    font-family: SpaceGrotesk;
    src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf')format('truetype');
}


.container {
    max-width: 80%;
    margin: 0px auto;  
}

* {
    font-family: SpaceGrotesk, sans-serif;
    background: var(--black);
}


a {
    text-decoration: none;
}
nav {
    width: 100%;
}

.mobile-view {
    display: none;
}


/* Navigation section */
.nav-link{
    list-style: none;
    display: inline;
    margin-left: 2rem;
    
}

.nav-link a {
    color: var(--pure-white);
    font-size: 26px;
    letter-spacing: 2.29px;
}

.nav-link a:hover {
    color: var(--green);
    transition: color 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.dev-name {
    font-size: 2rem;
    color: var(--pure-white);
}

/* icons */
#social-icons {
    padding-top: 2rem;
}
#social-icons a{
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--pure-white);
}

#social-icons i:hover {
    color: var(--green);
}

/* home section */
.intro-container {
    margin-top: 3rem;
    color: var(--pure-white);
    display: flex;
}

.intro-details h1 {
    font-size: 78px;
    letter-spacing: -2.5px;
}
.intro-details p {
    font-size: 18px;
    width: 70%;
   
}

.profile-image img {
    border: 1px solid --dark-grey;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

 #dev-name-underline,.project-heading p   {
    color: var(--pure-white);
    text-decoration: underline;
    text-decoration-color: var(--green); 
}

/* Skills section */
.skills-grid-container {
    border-top: 2px solid var(--pure-white);
    margin-top: 7rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
.grid-item {
    padding-top: 1rem;
    padding-right: 1rem;
}
 
.skill {
    color: var(--pure-white);
}

.years-of-experience {
    color: var(--grey);
}

p.skill{
    font-size: 2rem;
}

/* Project Section */

.project-heading {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.project-heading h1 {
    color: var(--pure-white);
    font-size: 42px;
}

.project-heading p {
    color: var(--pure-white);
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
}

.project-grid-container {
    display:inline-grid;
    gap: 50px;
    grid-template-columns: auto auto;
}


.grid-item-details h2 {
    color: var(--pure-white);
    font-weight: 400;
    text-transform: uppercase;
}
.tools p {
    letter-spacing: 2px;
    padding-right: 1rem;
    color: var(--grey);
    text-transform: uppercase;
    display: inline;
}
.project-grid-item {
    position: relative;
    overflow: hidden;
}

.project-img-container {
    position: relative;
}


.project-links {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    color: var(--pure-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
}
.project-links p {
    background-color: transparent;
    text-decoration: underline var(--green);
    display: block;
    padding-bottom: 5px;
}

.project-links p:hover {
    color: var(--green);
}


.project-img-container img {
    width: 540px;
    height: 400px;
    transition: opacity 0.3s ease;
}
.project-grid-item:hover .project-img-container img {
    opacity: 0.3;
}

.project-grid-item:hover .project-links {
    opacity: 1;
}






